
{% extends 'base.html' %}

{% block body %}
{% load static %}
<center>
{{topics.Title}}
<img class='card' src="{{topics.Pic}}" height=300 width=1000 alt="">
<p style=' text-align:left; color:white; background-color:black; text-shadow:0px 0px 0px black' >
  {{topics.Text|safe}}</p>
<br>
<br>

  <p style=' text-align:left; color:white; background-color:black;text-shadow:0px 0px 0px black' >{%autoescape off%}{{topics.Text}}{%endautoescape%}</p>

<h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS Y' }}</h5>
  </center>
{% endblock %}
