{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title style='color:white; text-shadow: 1px 2px 10px blue;'>THETRADINGTIPS</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>



  <body style='color:white;background-color:black'>


<!--

<nav class='navbar navbar-dark bg-dark' >
  <a href="#" class='navbar-brand' style='color:white; text-shadow: 1px 1px 2px blue;'>TheTradingTips</a>
  <div class="navbar">

    <a href="#">CONTACT US</a>


  </div>

</nav>-->
<!--<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>-->

<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url ''%}">The Trading Tips</a>
  <a class="navbar-brand" href="{% url 'document'%}">Documents</a>
  <a class="navbar-brand" href="#">Stock Data</a>
  <div class="navbar">

    <a href="#">CONTACT US</a>


  </div>
</nav>

<center>


<h1 class='text' style='color:white; text-shadow: 1px 2px 10px blue ;  '>THETRADINGTIPS.COM</hi>




<hr style='color:white'>
<hr style='color:white'>
{%block body%}

{%endblock%}

</center>
  </body>

</html>
