{% extends 'base.html' %}

{% block body %}
<center>




      <div class="row">



  {%for topics in topics%}
<div class="col-md-12">


<div class="jumbotron">
<a href="{% url 'detail' topics.id%}">
  <div class="thumbnail">

     <img style='float:left ;' class='card' src="{{topics.Pic}} " height=150 width=150 alt="">

  </div>

  <div class="container">



<div class="caption">



      <h2 class='text' style='color:black; text-shadow: 1px 1px 1px blue;'>{{topics.Title|upper}}</h2>

      <p style=' text-align:left; color:grey;font-size:20px; text-shadow:0px 0px 0px black; ' >
        {{topics.Text|truncatewords:40}}</p>



</div>
<br>
</a>
<a href="https://drive.google.com/u/0/uc?id=1e6zLKiHqtUkck38fI7WhKtvcp88UTSIm&export=download">
<button type="button" class='btn btn-success' style='float:right; '>Download As PDF </button>
</a>


  </div>


</div>
</div>

</div>



  {% endfor %}

</div>

  </center>
{% endblock %}
